@model List<Web_Grundlagen.Models.User>

@{
    ViewData["Title"] = "ShowMultipleUser";
}
@if (Model != null && Model.Count > 0)
{
    <table border="solid">
        <thead>
            <tr>
                <th colspan="4"> alle Benutzer </th>
            </tr>
        </thead>
        <tbody>
            @foreach (User u in Model)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Name</td>
                    <td>@u.Email</td>
                    <td>@u.Birthdate</td>

                    <td>
                        <form method="post" asp-controller="User" asp-action="deleteuser">
                            <input type="hidden" name="userId" value="@u.Id" />
                            <input type="submit" value="löschen" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-controller="User" asp-action="changeuser">
                            <input type="hidden" name="userId" value="@u.Id" />
                            <input type="submit" value="ändern" />
                        </form>
                    </td>
                
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"> Fußzeile </td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>Es sind noch keine User vorhanden!</p>
}
